@import url(Palette.css);
@import url(https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap);

.card-list {
    /* color: black; */
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
    /* Overflow-x makes that only the elements inside it scroll to x not all the page  */
    /* background-color: var(--primary); */
    margin-top: 3rem;
    background-color: #FF3F00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='%23FF3F00' cx='50' cy='0' r='50'/%3E%3Cg fill='%23ff4404' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff4805' cx='50' cy='100' r='50'/%3E%3Cg fill='%23ff4c07' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff5008' cx='50' cy='200' r='50'/%3E%3Cg fill='%23ff5409' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff5709' cx='50' cy='300' r='50'/%3E%3Cg fill='%23ff5b0a' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff5e0b' cx='50' cy='400' r='50'/%3E%3Cg fill='%23ff610b' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff640c' cx='50' cy='500' r='50'/%3E%3Cg fill='%23ff670d' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff6a0d' cx='50' cy='600' r='50'/%3E%3Cg fill='%23ff6d0e' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff700e' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ff720f' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff750f' cx='50' cy='800' r='50'/%3E%3Cg fill='%23ff7810' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff7a10' cx='50' cy='900' r='50'/%3E%3Cg fill='%23ff7d11' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23FF7F11' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 350px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background-color: var(--terceary);
    box-shadow: -0.5rem 0 2rem #000;
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card {
    transform: translateX(130px);
}

.card:not(:first-child) {
    margin-left: -130px;
}

.card-author {
    position: relative;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    margin: 3rem 0 0;
}


.author-avatar {
    height: 40px;
    width: 40px;
    z-index: 5;
}

.author-avatar img {
    display: block;
    width: 100%;
    /* height: 40px; */
    border-radius: 50%;
    /* filter: grayscale(100%); */
    /* the filter is to make the picture black and white */
    /* margin: 18px 6px; */
}

.half-circle {
    position: absolute;
    bottom: -18px;
    left: -6px;
    width: 52px;
    height: 50px;
    fill: none;
    stroke: var(--secondary);
    stroke-width: 8;
    stroke-linecap: round;
}

.author-name-prefix {
    color: var(--text2);
    font-weight: 700;
    font-size: 20px;
}

.card {
    color: var(--text2);
}

.card-header a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: var(--text2);
}

.card-header a:hover,
.card-header p:hover,
.author-name:hover {
    background: linear-gradient(90deg, var(--secondary), var(--primary));
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 0.2s;
}

/* PSEUDO ELEMENTS */
/* This are not avaliable in all browsers included mozilla. */
/* .card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
} */