:root {
	--primary: #FF7F11;
	--secondary: #FF3F00;
	--terceary: #BEB7A4;
	--text1: #FFFFFC;
	--text2: #000000;
	--text3: #D3D4D9;
	--text4: #707070;
	--text5: #FFF9FB;
	--hovers1: #119DA4;
	--hovers2: #4B88A2;
	--hovers3: #19647E;
}